﻿@model TimeApp.WebSite.Models.PageModel
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title data-bind="text: title"></title>
	@Styles.RenderFormat("<link rel=\"stylesheet\" type=\"text/css\" href=\"{0}\" />", "~/Bundles/Stylesheets")
	@Scripts.RenderFormat("<script type=\"application/javascript\" defer src=\"{0}\"></script>", "~/Bundles/Scripts")
</head>
<body>
	<tool-select-component></tool-select-component>
	<div data-bind="component: 'timer-tool-component', visible: timerVisible"></div>
	<div data-bind="component: 'stopwatch-tool-component', visible: stopwatchVisible"></div>
	<div data-bind="component: 'clock-tool-component', visible: clockVisible"></div>
	<div style="display:none" data-bind="ignoreBindings: true">
		@foreach (var component in Model.Components)
		{
			<template id="@component.ID">
				@{ Html.RenderPartial(component.Path, Model); }
			</template>
		}
	</div>
</body>
</html>