﻿@model TimeApp.WebSite.Models.PageModel
<nav class="layout">
	<a class="tool-link" data-bind="stateHref: '/timer/', css: { 'layout-item--major': timerMajor }">Timer</a>
	<a class="tool-link" data-bind="stateHref: '/stopwatch/', css: { 'layout-item--major': stopwatchMajor }">Stopwatch</a>
	<a class="tool-link" data-bind="stateHref: '/clock/', css: { 'layout-item--major': clockMajor }">Clock</a>
</nav>