﻿.layout {
	display: flex;
	// Default flex properties.
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	// By default, flex children do not grow or shrink.
	> * {
		flex: 1;
		transition: all ease-out 0.5s;
	}

	> .layout-item--major {
		flex: 3;
	}

	> .layout-item--minor {
		flex: 0;
	}
}